body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  background-color: indianred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding-bottom: 2rem;
  gap: 0.5rem;
}
